<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Uploader</title>
    <link rel="stylesheet" href="{% static "myapp/css/bootstrap.min.css" %}">

</head>
<body>
    <div class="container">
        <div class="py-5 text-center bg-secondary text-white">
            <h1 class="mb-3">Uplaod Image</h1>
            <form action="" method="POST" enctype= "multipart/form-data">
                {% csrf_token %}
                {{form}}
                <input type="submit" class="btn btn-danger" name="save" id="savebutton">
            </form>
        </div>
        <div class="row">
            {% for x in img %}
            <div class="col-sm-4">
                <div class="card m-2">
                    <img src="{{x.photo.url}}" height="200px" class="card-img-top" alt="">
                    <div class="card-footer">
                        <small class="text-muted">{{x.date}} </small>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>




    <script type="{% static "myapp/js/jquery.js" %}"></script>
    <script type="{% static "myapp/js/popper.js" %}"></script>
    <script type="{% static "myapp/js/bootstrap.min.js" %}"></script>
  </body>
</html>